{{- if and .Values.kyverno.enabled .Values.certManager.enabled }}
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: set-default-issuer
spec:
  rules:
    - name: set-default-issuer
      match:
        resources:
          kinds:
            - Ingress

      #preconditions:
      #  all:
      #    - key: {{ printf "{{ default(request.object.metadata.annotations.\"cert-manager.io/cluster-issuer\", \"\") }}" | quote }}
      #      operator: Equals
      #      value: ""
      mutate:
        patchStrategicMerge:
          metadata:
            annotations:
              +(cert-manager.io/cluster-issuer): {{ .Values.issuer}}
{{- end }}
